   select, label, input{
            height: 35px;
        }
        *,
        *::before,
        *::after {
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        .card-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .container {
            max-width: 100% ;
            width:100%;
        }
        
        .catalog__col {
            width: 25%;
            padding: 1px 50px 0 0 ;
            align-items: center;
            align-content: center;
            align-self: center;
        }
        .card{
            padding: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 0 15px rgba(33,37,41,0.1);
            transition: all 0.3s ease;
            margin-top: 10px;
            
            position: relative;
            max-width: 325px;
            width:300px;
            height:430px;
            overflow: hidden;
        }
        .card:hover {
            box-shadow: 0 0 5px rgba(33,37,41,0.1);
        }
        .card__title {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .card__text {
            flex: 1;
            position:relative;
            padding: 10px 5px 5px;
            margin-bottom: 5px;
        }
        .card__button {
            margin-top: 25px;
            text-align: center;
        }
        .card__button_g {
            display: inline-flex;
            padding: 0 30px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #212529;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #15aff7;
            transition: all 0.3s ease;
            background: #fff;
        }
        .card__button_g:hover {
            border-color: transparent;
            background: #15aff7;
        }
        .card__button_d {
            display: inline-flex;
            margin-top: 10px;
            padding: 0 30px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #212529;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #f70b0b;
            transition: all 0.3s ease;
            background: #fff;
        }
        .card__button_d:hover {
            border-color: transparent;
            background: #f70b0b;
        }
        #btndel{
                 display: inline-flex;
            margin-top: 10px;
            padding: 0 30px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #212529;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #f70b0b;
            transition: all 0.3s ease;
            background: #fff;
        }
        #btndel:hover{
             border-color: transparent;
            background: #f70b0b;
        }
        .card__button_m {
            display: inline-flex;
            padding: 0 30px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #212529;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #f7cb15;
            transition: all 0.3s ease;
            background: #fff;
        }
        .card__button_m:hover {
            border-color: transparent;
            background: #f7cb15;
        }
        @media (max-width: 1250px) {
            .catalog__col {
                width: 25% ;
        }
    }
    @media (max-width: 991.98px) {
        .catalog__col {
            width: 50%;
        }
    }
    @media (max-width: 575.98px) {
        .catalog__col {
            width: 100%;
            margin-left: 12% !important;
        }
    }

    .container{
        min-height:100px;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        align-self: center;
    }
    .card__image{
        max-height: 200px;
    }
    .card__image img{
        border-radius: 5%;
        max-width: 100%;
        height: auto;
        align-self: center;
    }
    .pagination-1{
        text-align: center;
        margin: 30px 30px 30px;
        user-select:none;
    }
    .pagination-1 li{
        display:inline-block;
        margin: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    }
    .pagination-1 li a{
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        line-height: 25px;
    }
    .previous-page, .next-page{
        background: #0AB1CE;
        width: auto;
        border-radius: 45px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .previous-page:hover{
        transform: translateX(-5px);
    }
    .next-page:hover{
        transform: translateX(5px);
    }
    .current-page, .dots{
        background: #ccc;
        width: 45px;
        cursor:pointer;
    }
    .active{
        background: #A3A5A8;
    }
    .disable{
        background: #ccc;
    }
