body {
  background-size: 100% 100%;
  background-image: linear-gradient(
        -45deg, 
        
        rgba(71,136,180,1) 51%, 
        rgba(4,52,84,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button {
  border-radius: 4px;
  background-color: rgba(4,52,84,1);
  border: none;
  color: #fff;
  align-self: center;
  align-items: center ;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button:after {
  content: '➔';
  position: absolute;
  opacity: 0;  
  top: 16px;
  right: -20px;
  transition: 0.5s;
}

#button:hover{
  padding-right: 24px;
  padding-left:8px;
}

#button:hover:after {
  opacity: 1;
  right: 10px;
}
.wrapper .logo img{
  max-width: 40%;
  margin-bottom: -30px;
}
.wrapper{
    padding:  0 0 100px;
    background-attachment: fixed;
    min-height: 100%;
}